HTTP_USERNAME=admin
HTTP_PASSWORD=password
SIGNALWIRE_PROJECT_ID=abcd0246-f186-efg-a42c-261234d37153
SIGNALWIRE_TOKEN=PT38c0000dace0replacemed535550000707fe0000fb
SIGNALWIRE_SPACE=your-space-name
FROM_NUMBER=+10000000000
NGROK_AUTH_TOKEN=auth-token-ngrok
NGROK_DOMAIN=replace-with-ngrok-static-url
NGROK_PATH=/usr/local/bin/ngrok
